.container{
    margin-top: 15%;
  
}
li{
    padding-top: 10%;
}
.nav{
    height:300px;
    width: 150px;
    border-radius: 20px;
    background-color:rgb(26, 26, 5);
    box-shadow: 8px 10px rgb(51, 49, 49) !important;
}
a{
    color: white;
}