 <div class="container">
    <div class="row">
        <div class="col-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PRODUCTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CATEGORIES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CUSTOMER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="./users">USERS</a>
                  </li>
              </ul>
        </div>
    </div>
</div>

 